$some-green: #A3B9CE;

img {
  width: 40%;
  height: 70%;
}


.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  background-color: #60E975;
  justify-content: flex-end;
  padding: 0.5% 0 0.5% 0;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container-inline {
  margin-left: 9%;
  width: 50%;
}

.container-badge {
  margin: 1%;
  padding: 1%;
  flex-basis: 15%;
  background-color: #2C2F38;
  border-bottom: 3px solid $some-green;
}

.title-name {
  color: #5ED2F9;
  font-weight: bold;
}

.point {
  color: #60E975;
}

.sign {
  color: #A3B9CE;
  padding: 0.9%;
  font-size: 0.8em;
}
.container-inline{
  div{
    div{
      width: 50%;
    }}
}

button{
  padding: 0.6%;
  margin: .3%;
  background-color: transparent;
  color: white;
  border: none;
  &:hover{
    background-color: #70A390;
  }
}
